.contact-title {
    font-family: 'Segoe UI', Tahoma, "Geneva", Verdana, sans-serif;
    margin-bottom: 30px;
}

.recaptcha-style {
    margin-bottom: 50px;
}

.button-send {
  font-family: "Courgette", "Comic Sans MS", cursive, sans-serif;
}

.recaptcha {
    margin-bottom: 20px;
}